---
---
body {
	font-family: "Bodoni Moda", sans-serif;
	}

ul.list { 
	list-style-type: none; 
	padding: 0;
	}

.fraktur {
	font-family: "UnifrakturMaguntia", sans-serif;
}

.link {
	cursor: pointer;
}

.type {
	display: none;
	font-family: "UnifrakturMaguntia", sans-serif;
}

.title {
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.thumb {
	padding-left: 1em;
}

.right {
	float: right;
}

.clear {
	clear:both;
}

.description {
	font-style: italic;
	margin-top: 0em;
	/* padding-left: 5rem; */
}

.panel-right {

}

.accordion {
	margin-top: 1em;
}


.panel {
	/* padding-left: 5rem; */
	border-bottom: 1px solid var(--border);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.edition {
	list-style: disc;
}

.accordion {
	cursor: pointer;
}
		
.portrait {
	float: right;
	vertical-align: top;
	margin-left: 1em;
}

.portrait>img {
	border-radius: 50%;
	width: 300px;
}

.mfp-iframe-holder .mfp-content {
	 max-width: 1000px;
	 height: 100%;
}

@media screen and (max-width: 800px) {
  .portrait {
	float: none;
	text-align: center;
	margin-left: 0;
  }
}