<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bodoni+Moda:r,ri,b,bi|UnifrakturMaguntia">
    <link rel="stylesheet" href="{{ "/assets/css/tufte.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<article>
  		<section>
			{{ content }}
		</section>
		<section>
			<h2>Folio's</h2>
			<ul>{% for folio in site.data.folios %}
			<li><strong>{{ folio.number }}</strong>
			{% if folio.digital %}
				<label for="mn-{{ forloop.index }}" class="margin-toggle">&#8853; </label>
				<input type="checkbox" id="mn-{{ forloop.index }}" class="margin-toggle"/>
				<span class="marginnote">
				{% for edition in folio.digital %}
					<img src="{{ edition.thumb }}">
					<a href="{{ edition.url }}">{{ edition.org }}</a>
				{% endfor %}
				</span>
			{% endif %}<br>
			<em>{{ folio.title }}</em><br>
			<span class="fraktur">{{ folio.description }}</span>
			</li>
			{% endfor %}</ul>
		</section>
    </article>
  </body>
</html>


