---
layout: default
---
  <body>
  	<article>
  		<section>
			{{ content }}
		</section>
		<section>
			<h2>Folio's</h2>
			<div id="projects">
			<label>Search:</label>
			<input class="search" id="search" name="text" type="text" required="" minlength="1" placeholder="query">
			<p>Filter:</p>
			<ul>
				<li>By format: <a class="link folio">folios</a>, <a class="link quarto">quartos</a>, <a class="link octavo">octavos</a>, <a class="link kleinformat">small format</a></li>
				<li><a class="link udk">Holdings of the Berlin University of the Arts</a></li>
				<li><a class="link digital">Items containing digital editions</a></li>
			</ul>
			<label>Sort results by:</label><br>
			<button class="sort" data-sort="author">Author</button>
			<button class="sort" data-sort="title">Title</button>
			<button class="sort" data-sort="pid">Format</button>
			<p><a class="link reset">Reset list</a></p>
			{% assign count = site.data.digital | map: "pid" | uniq %}
			<p><em>{{ count.size }} of in total {{ site.data.index.size }} items currently contain digital editions</em></p>
			<hr>
			<ul class="list">
			{% for item in site.data.index %}
			<li>
			<div class="accordion">
				<div class="item">
					<a class="pid hidden">{{ item.pid }}</a>
					<a class="index hidden">{{ item.index }}</a>
					<p><span class="format"><strong>{{ item.format }}</strong></span><br>
					<span>{{ item.catalogue }}</span></p>
				</div>
			</div>
			<div class="panel">
				<table>
					<tr>
						<th style="width: 6em;">Metadata</th>
					</tr>
					<tr>
						<th>Author</th>
						<td class="author">{{ item.author }}</td>
					</tr>
					<tr>
						<th>Title</th> 
						<td class="title">{{ item.title }}</td> 
					</tr>
					<tr>
						<th>Publisher</th>
						<td class="publisher">{{ item.publisher }}</td>
					</tr>
					{% if item.udk %}
					<tr>
						<th>UdK</th>
						<td class="udk"><a href="https://udk-berlin.hosted.exlibrisgroup.com/primo-explore/search?query=any,contains,{{ item.udk | truncate: 7, "" | url_encode }}&tab=default_tab&search_scope=default_scope&vid=UDK&facet=domain,include,Sammlung%20Friedrich%20Gilly&lang=de_DE&offset=0">{{ item.udk }}</a></td>
					</tr>
					{% endif %}
					{% if item.description %}
					<tr>
						<th>Description</th>
						<td><span class="description">{{ item.description }}</span></td>						
					</tr>
					{% endif %}
				  </table>
				{% capture pid %}{{ item.pid }}{% endcapture %}
				{% include digital.html pid=pid %}
				<p><div class="edition"><a target="_blank" href="http://www.google.com/search?q={{ item.title | replace: "[", "" | replace: "]", "" | url_encode }}">Search title on Google</a></div></p>
			</div>
			</li>
			{% endfor %}
			</ul>
		</section>
    </article>
    <script type="application/javascript">
	var options = {
		valueNames: [ 'title', 'author', 'publisher', 'format', 'udk', 'digital', 'pid', 'index' ]
	};
	
	var projectsList = new List('projects', options);

	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
	  acc[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var panel = this.nextElementSibling;
		if (panel.style.maxHeight) {
		  panel.style.maxHeight = null;
		} else {
		  panel.style.maxHeight = panel.scrollHeight + "px";
		} 
	  });
	}
	
	$(document).ready(function() {
	  $('.manifest').magnificPopup({
	  type:'iframe'
	  });
	});
	
	$( "#fraktur" ).click(function() {
	  $( ".toggle" ).toggleClass( "fraktur" );
	});

	$( ".folio" ).click(function() {
		projectsList.search('folio', ['format']);
		projectsList.sort('pid', { order: "asc" });
		$("#search").val('');
	});

	$( ".quarto" ).click(function() {
		projectsList.search('quarto', ['format']);
		projectsList.sort('pid', { order: "asc" });
		$("#search").val('');
	});

	$( ".octavo" ).click(function() {
		projectsList.search('octavo', ['format']);
		projectsList.sort('pid', { order: "asc" });
		$("#search").val('');
	});

	$( ".kleinformat" ).click(function() {
		projectsList.search('klein', ['format']);
		projectsList.sort('pid', { order: "asc" });
		$("#search").val('');
	});

	$( ".udk" ).click(function() {
		projectsList.search('R', ['udk']);
		projectsList.sort('udk', { order: "asc" });
		$("#search").val('');
	});

	$( ".digital" ).click(function() {
		projectsList.search('yes', ['digital']);
		projectsList.sort('index', { order: "asc" });
		$("#search").val('');
	});

	$( ".reset" ).click(function() {
		projectsList.search();
		projectsList.sort('index', { order: "asc" });
		$("#search").val('');
	});
	</script>


